@import "libs/bootstrap-reboot.min";
@import "base/variables";
@import "base/mixins";

* {
  font-family: "Museo Sans Cyrl", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button:focus,
button:active {
  outline: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}


@import "blocks/title-btn";

@import "blocks/header";
@import "blocks/head";
@import "blocks/about";
@import "blocks/services";
@import "blocks/proc";
@import "blocks/reviews";
@import "blocks/team";
@import "blocks/record";
@import "blocks/blog";
@import "blocks/contact";
@import "blocks/footer";



@import "base/media";