.blog {
	padding: 140px 0;


	.blog__title {
		margin-bottom: 30px;
	}

	.blog__text {
		max-width: 650px;
		margin: 0 auto;
	}

	.blog__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 95px;
	}


	.blog__item {
		flex-basis: 32%;
		margin-bottom: 30px;

		text-align: center;
		padding: 20px 20px 50px;
		border: 1px solid #e3e6ea;
		transition: linear .2s;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;

		&:hover {
			box-shadow: 0 15px 40px rgba(4, 10, 50, 0.1);
		}
	}

	.btn-blog {
		margin-top: auto;
	}


	.p-title {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.p-text {
		margin-bottom: 45px;
		max-width: 310px;
	}
}