.team {
	padding: 140px 0 200px;

	.team__title {
		margin-bottom: 30px;
	}

	.team__text {
		max-width: 650px;
		margin: 0 auto;
	}

	.team__blocks {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 95px;
	}

	.team__item {
		flex-basis: 32%;
		margin-bottom: 30px;

		display: flex;
		flex-direction: column;
		align-items: center;
	}


	.team__item:hover .team__social {
		margin-top: 0;
		opacity: 1;
		visibility: visible;
	}

	.team__item:hover .item__content {
		margin-top: -80px;
	}

	.item__content {
		text-align: center;
		padding: 30px;
		background-color: #ffffff;
		margin: -50px auto 0;
		max-width: calc(100% - 60px);
		box-shadow: 0 15px 30px rgba(48, 56, 59, 0.1);
		z-index: 1;
		transition: all 300ms ease-in-out;
		position: relative;
	}

	.team__name {
		color: #263a41;
		font-family: 'Lora';
		font-size: 22px;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.team__position {
		color: #888888;
		font-family: 'Roboto';
		font-size: 15px;
		line-height: 1;
		font-weight: 300;
		margin-bottom: 15px;
	}

	.team__social {
		text-align: center;
		margin-top: -30px;
		transition: all 300ms ease-in-out;
		opacity: 0;
		visibility: hidden;
	}

	.team__social-link {
		display: inline-block;
		border: 1px solid #30383b;
		border-radius: 50%;
		width: 30px;
		height: 30px;
		text-decoration: none;
		margin: 0 7px;

		font-size: 16px;
		color: #000;
		line-height: 30px;
		transition: linear .3s;

		&:hover {
			background-color: #ff817e;
			color: #fff;
			border: 0;
		}
	}



}