@media (max-width: 1200px) {
	.head {
		padding: 15% 0;

		.leaf {
			width: 10%;
			top: 30%;
			transform: translateY(-30%);
		}
	}

	.record {
		.record__img {
			display: none;
		}

		.record__forms {
			flex-basis: 100%;
			padding: 40px 15px;
		}

		.record__form {
			margin: 0 auto;
		}
	}
}

@media (max-width: 991px) {

	.header {
		.nav {
			margin-left: auto;
		}
	}

	.head {
		padding-top: 150px;

		.spa {
			display: none;
		}

		.leaf {
			display: none;
		}
	}

	.about {
		padding: 70px 0;
	}

	.proc {
		padding: 70px 0;

		.proc__blocks {
			justify-content: space-around;
		}

		.proc__item {
			flex-basis: 49%;
		}
	}

	.reviews {
		padding: 70px 0;
	}

	.team {
		padding: 70px 0;

		.team__blocks {
			justify-content: space-around;
		}

		.team__item {
			flex-basis: 50%;
		}

	}

	.blog {
		padding: 70px 0;

		.blog__blocks {
			justify-content: space-around;
		}

		.blog__item {
			flex-basis: 49%;
		}
	}

	.contact {
		padding-bottom: 70px;
	}

	.footer {
		padding: 40px 0;
	}
}

@media (max-width: 768px) {

	.header {
		.nav {
			display: none;
			width: 100%;
			position: absolute;
			top: 100%;
			left: 0;
			background-color: #fcf5ee;
			padding: 20px 0;
		}

		.nav.active {
			display: block;
			border-top: 1px solid #ff817e;
		}

		.nav__link {
			display: block;
			margin: 0;
			padding: 10px 20px;
		}

		.nav-toggle {
			display: block;
		}
	}

	.head {
		padding: 0;

		.head__inner {
			height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.head__subtitle {
			font-size: 55px;
		}
	}

	.about {

		.rose {
			width: 20%;
		}

		.jasmine {
			top: 80%;
			transform: translateY(-80%);
		}
	}

	.proc {
		padding: 50px 0;

		.proc__blocks {
			margin-top: 55px;
			justify-content: center;
		}

		.proc__item {
			flex-basis: 55%;
			padding: 20px;
		}

		.proc__img {
			margin: 0 auto 20px;
		}

		.proc-title {
			margin-bottom: 15px;
		}

		.proc-text {
			margin-bottom: 20px;
		}

	}

	.reviews {
		padding: 50px 0;
	}

	.team {
		padding: 50px 0;

		.team__blocks {
			margin-top: 55px;
		}

		.team__item {
			flex-basis: 85%;
		}

	}

	.blog {
		padding: 50px 0;

		.blog__blocks {
			margin-top: 55px;
			justify-content: center;
		}

		.blog__item {
			padding: 20px;
			flex-basis: 55%;
		}

		.p-title {
			margin-bottom: 15px;
		}

		.p-text {
			margin-bottom: 20px;
		}
	}

	.contact {
		padding-bottom: 50px;

		.contact__info {
			flex-basis: 100%;
			margin-bottom: 30px;
		}

		.contact__forms {
			flex-basis: 100%;
		}
	}

	.footer {
		.footer__nav-link {
			margin-right: 30px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


@media (max-width: 575px) {

	.head {
		.head__subtitle {
			font-size: 45px;
		}

		.head__text {
			line-height: 1.5;
		}
	}

	.about {

		.about__subtitle {
			font-size: 16px;
			margin-bottom: 25px;
		}

		.about__text {
			margin-bottom: 40px;
		}

		.rose {
			display: none;
		}

		.jasmine {
			display: none;
		}
	}

	.proc {

		.proc__item {
			flex-basis: 80%;
		}
	}

	.reviews {
		.reviews__item {
			.reviews__icon {
				margin: 0 auto 30px;
			}

			.reviews__text {
				margin-bottom: 30px;
			}

			.reviews__img {
				margin-bottom: 20px;
			}
		}
	}

	.team {
		.item__content {
			max-width: 100%;
		}
	}

	.record {

		.record__form {
			text-align: center;
		}

		.form__field {
			input {
				width: 100%;
			}

			.select__field {
				width: 100%;
			}

		}
	}

	.blog {

		.blog__item {
			flex-basis: 85%;
		}
	}

	.contact {

		.contact__blocks {
			margin-top: 60px;
		}

		.contact__field {
			margin-bottom: 20px;
		}

		.contact__form {
			text-align: center;
		}
	}

	.footer {
		.footer__nav {
			display: none;
		}
	}

	.title {
		font-size: 32px;
	}
}

@media (max-width: 425px) {

	.head {
		.head__inner {
			padding-top: 100px;
		}

		.head__subtitle {
			font-size: 38px;
			margin-bottom: 25px;
		}

		.head__title {
			margin-bottom: 20px;
		}

		.head__text {
			margin-bottom: 35px;
		}
	}

}