.about {
	padding: 140px 0;
	position: relative;
}

.about__inner {
	text-align: center;
}

.about__img {
	margin-bottom: 40px;
}

.about__subtitle {
	margin-bottom: 35px;
	color: #888888;
	font-family: 'Roboto';
	font-size: 20px;
	line-height: 1;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

.about__title {
	margin-bottom: 40px;
}


.about__text {
	max-width: 860px;
	margin: 0 auto 70px;
}

.jasmine {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 7%;
	z-index: -1;
}

.rose {
	position: absolute;
	top: 0;
	left: 17%;
	z-index: -1;
}