.title {
	color: #1e2528;
	font-family: 'Playfair';
	font-size: 42px;
	line-height: 1;
	font-weight: 700;
	text-align: center;
}

.text {
	color: #888888;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 300;
	line-height: 2;
	text-align: center;
}

.item__title {
	color: #263a41;
	font-family: 'Rufina';
	font-size: 22px;
	line-height: 1;
	font-weight: 700;
}

.item__text {
	color: #888888;
	font-family: 'Roboto';
	font-size: 14px;
	font-weight: 300;
	line-height: 1;
}

.btn-mini {
	display: inline-block;
	border-radius: 25px;
	padding: 16px 47px;
	border: 2px solid #ff817e;
	background-color: #ff817e;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	transition: linear .2s;

	&:hover {
		color: #ff817e;
		text-decoration: none;
		background-color: #fff;
		border: 2px solid #ff817e;
	}
}

.btn-item {
	display: inline-block;
	border-radius: 25px;
	padding: 13px 25px;
	min-width: 140px;
	border: 2px solid #ff817e;
	background-color: #ff817e;
	text-align: center;
	color: #ffffff;
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.52px;
	transition: linear .2s;

	&:hover {
		color: #ff817e;
		text-decoration: none;
		background-color: #fff;
		border: 2px solid #ff817e;
	}
}